name: Run Gradle on PRs
on: [pull_request, workflow_dispatch]
jobs:
  gradle:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['11', '17']
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: zulu
        java-version: ${{ matrix.java }}
        cache: 'gradle'
          
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3

    - name: Change wrapper permissions
      run: chmod +x ./gradlew
        
    - name: Execute Gradle build
      run: ./gradlew build
